/* -----------------
  Stats
------------------ */

.offcanvas-subtitle { margin-top: 20px; }
  
.offcanvas-text {
    margin: 5px 0;
    padding-left: 1rem;
}
  
.position-text { font-size: xx-large; }
  
.dropdown-stats {
    border: none;
    background-color: inherit;
    padding: 0;
}
 
@media screen and (max-width: 992px) {
    .livery-image-container {
        max-height: 120px;
        height: 200px;
        width: auto;
    }
  
    .livery-image-div {
        background-size: cover;
        /*height: 12vh;*/
        width: 100%;
    }

    .personal-data-col{
        line-height: 27px;
    }
}
  
@media screen and (min-width: 992px) {
    .livery-image-container {
        height: 200px;
        width: auto;
    }
  
    .livery-image-div {
        background-size: cover;
        /*height: 15vh;
        width: 75%;*/
    }

    .personal-data-col{
        line-height: 27px;
        border-right: 2px solid lightgray;
    }
}
  
.cell-sizing {
    width: 16%;
    min-width: 115px;
}
  
.sticky-col {
    position: sticky;
    left: -130px;
    background-color: white;
}
  
.td-color { color: red }
.md-color { color: gold }

.driver-image-col {
    max-height: 270px;
    margin: 0 auto;
}

.driver-thumb { transition: transform .5s ease-in; }
.driver-thumb:hover {
    transform: translateX(-110px) translateY(55px) scale(3);
    background: white;
    border-top-right-radius: 10px;
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
}